<header class="navbar navbar-inverse">
  <div class="container">
    <%=link_to "ShoppySport", root_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in? %>
          <li><%=image_tag "#{current_user.image}"%></li>
          <li><%=link_to "#{current_user.name}"%></li>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
        <%else%>
          <li><%=link_to "Login", new_user_session_path %></li>
          <li><%=link_to "Register", new_user_registration_path%></li>
        <%end%>
      </ul>
    </nav>
  </div>
  <div class="items-bar">
    <ul class="nav navbar-nav navbar-left">
      <li><%=link_to "All", "/items/all" %></li>
      <li><%=link_to "Badminton", category_items_path(Category.find_by(name: "Badminton"))%></li>
      <li><%=link_to "Men", category_items_path(Category.find_by(name: "Men"))%></li>
      <li><%=link_to "Women"%></li>
      <li><%=link_to "Tennis", category_items_path(Category.find_by(name: "Tennis"))%></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><%=link_to "Search"%></li>
      <li><%=link_to "Cart"%></li>
    </ul>
  </div>
</header>
