<header class="navbar navbar-inverse">
  <div class="container">
    <%=link_to "ShoppySport", root_path, id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right right-links">
        <%if user_signed_in? %>
          <li><%=image_tag "#{current_user.image}"%></li>
          <%if current_user.provider?%>
            <li><%=link_to "#{current_user.name}"%></li>
          <%else%>
            <li><%=link_to "#{current_user.name}", edit_user_registration_path%></li>
          <%end%>
          <% if current_user.admin?%>
            <li><%=link_to "Admin Panel", "/admin", class: 'btn btn-primary admin-btn'%></li>
          <%end%>
          <li><%=link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %></li>
        <%else%>
          <li><%=link_to "Login", new_user_session_path, class: 'btn btn-success' %></li>
          <li><%=link_to "Register", new_user_registration_path, class: 'btn btn-primary'%></li>
        <%end%>
      </ul>
    </nav>
  </div>
  <div class="items-bar">
    <ul class="nav navbar-nav navbar-left left-links">
      <li><%=link_to "All", "/items/all" %></li>
      <%categories.each do |category|%>
        <li><%=link_to category.name, category_items_path(category)%></li>
      <%end%>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%=form_for(:search, url: search_path, html: { id: 'search_form'}, method: :get) do |f|%>
          <%=f.text_field :keyword, id: "search_field", required: true%>
          <button type="submit" id="search-btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        <%end%>
      </li>
        <li><%=link_to "Cart", cart_path, class: "bottom-right-links"%></li>
    </ul>
  </div>
</header>
